cl_client: "{{ .CLClient }}"
el_engine_api: "{{ .ELEngineAPI }}"
el_jwt_secret: "{{ .ELJWTSecret }}"
el_rpc: "{{ .ELRPC }}"
builder_privkey: "{{ .BuilderPrivkey }}"
wallet_privkey: "{{ .WalletPrivkey }}"
api_port: {{ .APIPort }}
epbs_enabled: {{ .EPBSEnabled }}
builder_api_enabled: {{ .BuilderAPIEnabled }}

builder_api:
  port: {{ .BuilderAPIPort }}
